.InfoField {
    position: absolute;
    z-index: 10;
    padding: 3rem;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #C9C323;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    align-items: center;
    font-size: 20px;
}

.InfoField p {
    font-family: var(--textfont);
    max-width: 25rem;
    line-height: 1.5;
    font-size: 1rem;
    text-align: justify;
}